django
requests
bs4
lxml
feedparser
pandas
hjson
srsly
numpy
wget
json_normalize
elasticsearch
codes
elasticsearch_dsl
django_elasticsearch_dsl_drf
celery
django-feed-reader
cloudscraper
html5lib
selenium
webdriver_manager
unidecode
fake_useragent
news-please
redis
